.gb-form {
  margin-top: 40px;

  > .gb-form-field {
    --background-focused: none;
    --highlight-height: 0;
    --inner-border-width: 50%;
    --border-color: white;
    --border-radius: 24px;
    --border-width: 1px;
    --box-shadow: var(--ion-color-medium-box-shadow);
    margin: 24px;
  }

  > .gb-form-submit-btn {
    --box-shadow: var(--ion-color-primary-box-shadow);
    --padding-end: 64px;
    --padding-start: 64px;
    display: block;
    height: 48px;
    margin: 32px auto;
    width: 50%;
  }
}
