.forgot-password {
  .gb-form {
    margin-top: 24px;

    .gb-form-submit-btn {
      --padding-start: 32px;
      --padding-end: 32px;
    }
  }

  .info-text {
    margin: 24px;
    color: var(--ion-color-medium-tint);
  }
}
