<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forgot-password">
  <ion-grid fixed>
    <div class="container">
      <p class="info-text">
        Enter your email below and we will send you an email with a link to reset your password.
      </p>
      <form class="gb-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
        <ion-item class="gb-form-field">
          <ion-input type="email" formControlName="email" clear-input="true" placeholder="Your email address">
          </ion-input>
        </ion-item>

        <ion-button type="submit" class="gb-form-submit-btn" shape="round" [disabled]="forgotPasswordForm.invalid">
          Send reset password link
        </ion-button>
      </form>
    </div>
  </ion-grid>
</ion-content>
