<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create an Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="create-exercise-content">
  <form [formGroup]="exerciseForm" class="gb-form">
    <ion-item class="gb-form-field name-field">
      <ion-input type="text"
        formControlName="name"
        clear-input="true"
        placeholder="Exercise Name">
      </ion-input>
    </ion-item>

    <ion-item class="gb-form-field">
      <ion-select formControlName="equipmentType"
        interface="popover"
        class="select"
        placeholder="Equipment Type">
        <ion-select-option class="select-option"
          *ngFor="let equipment of equipmentTypes"
          value="{{equipment}}">
          {{equipment}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div formArrayName="muscles">
      <div class="animate-on-enter muscle-form"
        [formGroupName]="i"
        [class.deleting]="isDeleting(muscle)"
        *ngFor="let muscle of muscleForms.controls; let i=index">
        <div class="muscle-form-container">
          <ion-item class="gb-form-field">
            <ion-select class="select"
              formControlName="mainMuscleGroup"
              interface="popover"
              placeholder="Select a muscle group">
              <ion-select-option class="select-option"
                *ngFor="let mainMuscle of mainMuscleGroups"
                value="{{mainMuscle}}">
                {{mainMuscle}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="gb-form-field animate-on-enter"
            *ngIf="muscleForms.controls[i].value.mainMuscleGroup">
            <ion-select class="select"
              formControlName="muscleName"
              interface="popover"
              placeholder="Select a muscle">
              <ion-select-option class="select-option"
                *ngFor="let muscle of getMuscleNamesForGroup(i)"
                value="{{muscle}}">
                {{muscle}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <ion-button type="button"
          class="delete-btn"
          (click)="deleteMuscle(i, muscle)"
          color="danger"
          slot="end"
          [disabled]="isDeleteMuscleDisabled">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </div>
    </div>

    <ion-button type="button"
      (click)="addMuscle()"
      color="success">
      Add muscle
    </ion-button>

    <ion-button type="submit"
      class="gb-form-submit-btn"
      shape="round"
      [disabled]="exerciseForm.invalid">
      Create Exercise
    </ion-button>
  </form>
</ion-content>
