<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button type="button"
    expand="block"
    (click)="logout()"
    router-direction="back"
    color="danger">
    Logout
  </ion-button>

  <ion-button type="button"
    expand="block"
    *ngIf="(user$ | async)?.role === masterAdminRole"
    routerLink="/create-exercise">
    Create an Exercise
  </ion-button>

  <ion-button type="button"
    expand="block"
    routerLink="/exercises">
    Exercises
  </ion-button>
</ion-content>
