.login-page {
  .gb-form {
    > .forgot-password-btn-container {
      margin: 0 24px;
      text-align: right;
    }

    > .password-field {
      margin-bottom: 8px;
    }
  }

  .logo {
    display: block;
    height: 20%;
    margin: 75px auto 0;
  }

  .create-account-btn-container {
    bottom: 40px;
    margin-bottom: 24px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
