// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

@import 'styles/animations.scss';
@import 'styles/button.scss';
@import 'styles/form.scss';
@import 'styles/toast.scss';

ion-grid {
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  height: 100%;
}
